<header class="bg-primary">
  <div class="container">
    <h1 class="text-white"><i class="fab fa-wpforms"></i> Angular Reactive Form Course</h1>
  </div>
</header>

<div class="row mt-25">
  <div class="col-sm-6 offset-3">
    <div class="text-center">
      <h2>
        Contact
      </h2>

    </div>
    <form class="mt-25">
      <div class="form-row">
        <div class="form-group col-6">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group col-6">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>


      <section>
        <div class="form-group">
          <label>Street</label>
          <input type="text" class="form-control" placeholder="1234 Main St">
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <label>City</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-4">
            <label>State</label>
            <select class="form-control">
              <option value="" disabled>Choose a state</option>
              <!-- <option *nstate of stateOptions" [ngValue]="state">
                {{ state }}
              </option> -->
            </select>
          </div>
          <div class="form-group col-2">
            <label>Zip</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </section>

      <h3>Emails</h3>

      <section>
        <div class="form-row">
          <div class="form-group col-10">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="email@example.com">
          </div>
          <div class="form-group col-2 mt-25">
            <button class="btn btn-info" type="button">+</button>
            <button class="btn btn-success" type="button">-</button>
          </div>
        </div>
      </section>

      <h3>Phones</h3>

      <section>
        <div class="form-row">
          <div class="form-group col-10">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="55555555">
          </div>
          <div class="form-group col-2 mt-25">
          <button class="btn btn-info" type="button">+</button>
            <button class="btn btn-success" type="button">-</button>
          </div>
        </div>
      </section>

      <p>
        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i>
          Save</button>
        <button class="btn btn-warning"><i class="fas fa-snowplow"></i> Clear</button>
      </p>
    </form>

  </div>

</div>